<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
<head>
    <meta charset="UTF-8">
    <title>{{title}} - Swiftfox Kit</title>
</head>
    <body>
        <div class="wrapper">
            <header>
               <img id="title_image" src="{{url_for('static', filename='swiftfoxv1.png')}}" align="middle"/>
                <a id="header_link" href="/index">Home</a>
                <a id="header_link" href="/about">About Us</a>
                <a id="header_link" href="/try_it">Try it!</a>
                <a id="header_link" href="/thanks"> Gratitude </a>
            </header>

            <main>
                <h1>{{ team_header|safe }}</h1>
                {{ team_body|safe }}
                <h1>{{ project_header|safe }}</h1>
                {{ project_body|safe }}
            </main>
            <!--<main>{{ body|safe }}</main>-->
            <footer>Copyright 2020 :D</footer>
        </div>
    </body>
</html>