<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<div class="wrapper">
    <header>
        <a href="/index">Home</a>
        <a href="/about">about</a>
        <a href="/try_it">Try it!</a>
    </header>
    <main>{{ body|safe }}</main>
    <footer>Copyright 2020 :D</footer>
</div>
</body>
</html>